p,
a,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: var(--h-gap);
  padding-bottom: var(--h-gap);
  font-family: var(--text-font-family);
}

p,
a,
ul {
  font-size: var(--text-normal-size);
  line-height: var(--text-normal-line-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--text-big-size);
  line-height: var(--text-big-line-height);
}

body {
  font-size: var(--text-normal-size);
  -webkit-font-smoothing: antialiased;
}